apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-snapshot-controller-operator
  namespace: openshift-cluster-storage-operator
  labels:
    app: csi-snapshot-controller-operator
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-snapshot-controller
  namespace: openshift-cluster-storage-operator
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
